int StartDay 19
int StartMonth 11
int StartYear 2005
int AsteroidNumber 1994
int IfOneStar   1218008681
int RA_Hour    2
int RA_Min     28
double RA_Sec  4.8329723
double pmRA    0
int Dec_Deg    19
int Dec_Min    59
double Dec_Sec 47.266972
double pmDec   0
int OneStarCatalog 128
double OneStarMv 9.28
double OneStarParallax 0.0365
